<template>
  <base-dialogue v-if="inputIsInvalid" title="Invalid input">
    <template #default>
      <p>At least one entry in every field is required.</p>
    </template>
    <template #actions>
      <base-button @click="closeDialogue()">Okay</base-button>
    </template>
  </base-dialogue>
  <base-card>
        <form @sumbit.prevent ="addResources">
            <div class="form-control">
            <label for ="title">Title</label>
            <input id="title" name="title" type="text" ref="titleInput"/>
            </div>

            <div class="form-control">
            <label for ="description">Description</label>
            <textarea id="description" name="description" rows="3" ref="descInput"></textarea>
            </div>

            <div class="form-control">
            <label for ="link">Link</label>
            <input id="link" name="link" type="url" ref ="linkInput"/>
            </div>

            <div>
                <base-button @click="addResources()" type='submit'>Add Resource</base-button>
            </div>

        </form>    
    </base-card>
</template>


<script>
// import BaseCardVue from "./BaseCard.vue";


export default ({

    inject : [
        'add_data'
    ],

    data() {
      return {
        inputIsInvalid: false,
      };
    },
    methods: {
        addResources() {
            const enteredtitle = this.$refs.titleInput.value;
            const entered_desc = this.$refs.descInput.value;
            const entered_url = this.$refs.linkInput.value;

            if (entered_url.trim() === "" || entered_desc.trim() ==="" || enteredtitle.trim()===""){
              

              // alert('Atleast one entry for every field is required')
              this.inputIsInvalid= true;
              return;
            }
            else {
              this.add_data(enteredtitle,entered_desc,entered_url);
            }
        },
        closeDialogue() {
          this.inputIsInvalid = false;
        }
        
    },
})
</script>



<style scoped>


label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.15rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #3a0061;
  background-color: #f7ebff;
}

.form-control {
  margin: 1rem 0;
}

</style>