<template>
    <base-card>
        <base-button @click="setselectedTab('stored-resource')" :mode="storedResButtonMode">Stored Resources</base-button>
        <base-button @click="setselectedTab('add-resources')" :mode="addResButtonMode">Add Resource</base-button>
        <!-- <components :is="selectedTab"></components> -->
    </base-card>
    <keep-alive>
        <component :is="selectedTab"></component>
    </keep-alive>
    
</template>


<script>
import StoredResource from './StoredResource.vue';
import AddResources from './AddResources.vue';

export default ({

    components:{
        
        'stored-resource':StoredResource,
        'add-resources':AddResources
    },

    computed:{
        storedResButtonMode(){
            return this.selectedTab === 'stored-resource'? null:'flat';

        },
        addResButtonMode() {
            return this.selectedTab === 'add-resources'? null:'flat';
        }
    },
    data() {
        return {
            selectedTab : 'stored-resources',
            storedResources:[
                {
                    id:'official-guide',
                    title:'Official Guide',
                    description:'The official Vue.js documentation.',
                    link:'https://vuejs.org'
                },
                {
                    id:'official-guide2',
                    title:'Official guide 2',
                    description:'official documentation of Python.',
                    link:'https://python.org'
                }
            ]
        };
    },
    provide() {
        return {
            resources: this.storedResources,
            add_data : this.add_data,
            removeResource : this.removeResource

        };
    },
    methods: {
        setselectedTab(tab){
            this.selectedTab = tab;
        },

        add_data(title, description, url) {
            const newResource = {
                id : new Date().toISOString(),
                title: title,
                description: description,
                url : url,
            };

            this.storedResources.unshift(newResource);
            this.selectedTab  = 'stored-resource';
        },
        removeResource(x) {
            const resIndex = this.storedResources.findIndex(res => res.id ===x);
            this.storedResources.splice(resIndex,1);

        }
    }
})
</script>
