<template>
    <the-header :title="h"></the-header>
    <!-- <stored-resources :resources="storedResources"></stored-resources>    -->
    <the-resources></the-resources>
    
</template>


<script>

// import ResourceItem from './components/ResourceItem.vue';
// import StoredResource from './components/StoredResource.vue';
import TheHeader from './components/TheHeader.vue';
import TheResources from './components/TheResources.vue';
export default ({

    components:{
        // 'resource-item':ResourceItem,
        // 'stored-resources':StoredResource,
        'the-header': TheHeader,
        'the-resources': TheResources
    },
    data() {
        return {
            h:'The Learning App',
        };
        
    },
})
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

</style>
